on: [push, pull_request]
name: Konstruktoid Python linting
jobs:
  konstruktoidPythonlinting:
    name: Python linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Python linting
        uses: konstruktoid/action-pylint@v2.1.0